.grey-bg{
    background-color: #4c4c4c;
    padding: 15px;
}

ul.top-menu{
    padding: 0;
}

ul.top-menu li{
    display: inline;
    list-style:none;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid black;
}

ul.top-menu li a{
    color: white;
}