<div class="container grey-bg">
    <ul class="top-menu ">
        <li *ngFor="let item of topMenu">
          <a [routerLink]="item.link">
            {{item.label}} 
          </a>
        </li>
      </ul>
</div>